.table-wrapper {
    overflow: auto;
    height: 87vh;
    margin: 10px 0;
}

.metrix-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.metrix-table th:first-child,
.metrix-table td:first-child {
    position: sticky;
    left: -1px;
    z-index: 1
}

.metrix-table td:first-child {
    background-color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 4px 6px;
    text-align: left;
}

.metrix-table thead th {
    background-color: #002984;
    color: #e8e8e8;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
}

.metrix-table .column-filter-wrap,
.metrix-table .column-filter-wrap td:first-child {
    background-color: #d6d6d6;
}

.metrix-table .column-filter-wrap input,
.metrix-table .column-filter-wrap select {
    width: calc(100% - 10px);
    height: 20px;
    padding: 2px 5px;
    font-size: 12px;
}

.metrix-table tbody tr:nth-child(even) {
    background: #f9f9f9;
}

.global-search {
    padding: 4px 5px;
    width: 250px;
}

.metrix-table th.order-asc:before,
.metrix-table th.order-dsc:before {
    position: absolute;
    display: block;
    top: 50%;
    content: "\25B2";
    right: 10px;
    font-size: 10px;
    transform: translateY(-50%);
}

.metrix-table th.order-dsc:before {
    content: "\25BC";
}

.table-top {
    display: flex;
    justify-content: space-between;
}

.table-top .act-btn,
.table-top .reset-btn,
.metrix-table .action-btn {
    background-color: #002984;
    cursor: pointer;
    color: #e8e8e8;
    border: 0;
    border-radius: 2px;
    height: 24px;
    line-height: 0;
    padding: 2px 9px;
}

.metrix-table .action-btn {
    padding: 3px 6px;
    font-size: 11px;
    height: 19px;
}

.table-top .reset-btn {
    background-color: #f0f0f0;
    margin-left: 20px;
    border: 1px solid #afafaf;
    color: #272727;
}

.table-top .act-btn:hover {
    background-color: #003aba;
    color: #fff;
}

.table-top .act-btn:disabled {
    opacity: .6;
}

.loader {
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
}